@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    @font-face {
        font-family: 'Inter';
        font-weight: 500;
        src: url('../fonts/Inter-Regular.ttf') format('truetype');
    }
}

